<!--Homepage-->
<div class="container">
    <div class="col-md-12 jumbotron">
        <div class="text-center heading">
            <h1>News Hub</h1>
            <h4>Your friendly neighborhood ear to the ground</h4>
        </div>
    </div>
    <div class="col-md-12" id="scrapedThings">
        {{#each article}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{this.title}}</h4>
            </div>
            <div class="panel-body">
                <p> {{this.summary}}</p>
                <a href={{this.link}} target="_blank">{{this.link}}</a>
                <br><br>
                <button type="button" class="btn btn-default save" data-id={{this._id}}>Save for later</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>